salesforce
.sfdx
**/.sfdx
.sf
**/.sf
secrets/
keystore.jks
keystore.p12
private.pem
certificate.crt
node_modules
**/node_modules
dist
**/.dist
.env
**/.env
.env.*
**/.env.*
*.log
**/logs/
.git
.gitignore
README.md